<?xml version="1.0" encoding="UTF-8"?>
<!-- change status to debug for troubleshooting the logger itself -->
<configuration status="error" strict="true" name="SplenditHibernateConfig">
	<appenders>
		<appender type="Console" name="Console">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</appender>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>